<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833184225571-k0ljb7bdsmc5vv3v6u8rlp3smr8kru5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833184225571-k0ljb7bdsmc5vv3v6u8rlp3smr8kru5k</string>
	<key>API_KEY</key>
	<string>AIzaSyBtT3SgxOukFDkbMgNRcqV9ocLEjfeGQj0</string>
	<key>GCM_SENDER_ID</key>
	<string>833184225571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iocod.iso</string>
	<key>PROJECT_ID</key>
	<string>iso-72456</string>
	<key>STORAGE_BUCKET</key>
	<string>iso-72456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833184225571:ios:49c22e8c7595a800689496</string>
</dict>
</plist>